<h3>Editar conta:</h3>
<p>Aqui você pode criar uma nova conta de usuario.</p>

<hr>

<div id="respostaForm"></div>

<div class="container-fluid">

    <div class="form-group">
      <label>Nome</label>
      <input [(ngModel)]="nome" name="nome" type="text" class="form-control" placeholder="Nome" required>
    </div>
    <div class="form-group">
      <label>E-mail</label>
      <input [(ngModel)]="email" name="email" type="email" class="form-control" placeholder="E-mail" required>
    </div>
    <div class="form-group">
      <label>Senha</label>
      <input [(ngModel)]="senha" name="senha" type="password" class="form-control" placeholder="Senha" required>
    </div>
    <button (click)="submitForm()" type="submit" class="btn btn-default btn-submit">Criar conta</button>

</div>