<!-- Importa a navbar up -->
<itens-navbar-up></itens-navbar-up>


<!-- Inicia div a para a barra da esqueda e conteudo da pagina -->
<div class="container-fluid">
    <div class="row">

        <!-- Importa a navbar left -->
        <itens-navbar-left></itens-navbar-left>

        <!-- Conteudo das paginas rotiadas aparecem nessa parte -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <router-outlet></router-outlet>
        </div>

<!-- Fecha diva para a para a barra da esqueda e conteudo da pagina -->
  </div>
</div>