<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1><%= error %></h1>
    <h1><%= user.name %></h1>
  </body>
</html>
